.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    border: 1px solid #d1d7d9;
}

.fa-camera {
    font-size: 162px;
    color: #8cc9c9;
}
